.row#open_layers_table
  .col-md-12
    %table.table.table-condensed.table-bordered.table-hover.no-margin.text-left
      %thead
        %tr
          %th= t('open_layers.name')
          %th= t('open_layers.workspace_name')
          %th= t('open_layers.description')
          %th
      %tbody#open_layers